.container {
  --animation-ease-out-fast: cubic-bezier(0, -0.01, 0.27, 0.99);
  --slide-duration: 0.2s;

  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #fff;
  border-radius: 24px 24px 0 0;
  z-index: 9999;
  overflow-x: hidden;
  transform: translate(0%);
  transition: transform var(--slide-duration) var(--animation-ease-out-fast);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
